@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 1
}

/* GENERAL */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: #222;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#root:has(> .main.darktheme) {
    background-color: #363636;
}

.visually-hidden {
    display: none;
}

.clickable {
    cursor: pointer;
}

.status-icon {
    width: 50px;
    height: 50px;
    margin: 2rem auto 0;
    display: block;
}

.status-error {
    font-size: 2rem;
    width: 100%;
    text-align: center;
}

.find-icon-link {
    color: #222;
}

.main.darktheme .status-icon,
.main.darktheme .status-error,
.main.darktheme .find-icon-link {
    color: whitesmoke;
}


.select-page-button-wrapper {
    border-top: 2px solid #2222;
    margin: 2rem auto;
    width: 90%;
    max-width: 1024px;
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.main.darktheme {
    background-color: #363636;
}

/* HEADER */

.header {
    width: 100%;
    height: 200px;
    background-color: #363636;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/public/images/background.jpg) no-repeat center;
    background-size: cover;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header--headline {
    margin-top: 0;
    padding-top: 1rem;
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: .1rem;
}

.header--navigation {
    text-align: center;
}

.theme-selector {
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

.header--navigation--list {
    padding: 0;
}

.header--navigation--list--item {
    list-style: none;
    padding-bottom: 1rem;
}

.header--navigation--list--item-link,
.footer a {
    color: whitesmoke;
    font-size: 1.3rem;
    text-decoration: none;
}

.header--navigation--list--item-link:hover,
.header--navigation--list--item-link:focus,
.header--navigation--list--item-link:active,
.footer a:hover,
.footer a:focus {
    border-bottom: 1px solid whitesmoke;
}

/* SEARCH FORM */

.searchMovieForm {
    margin: 0 auto;
    height: 30px;
    margin-top: -15px;
    bottom: 0;
    width: 90%;
    max-width: 550px
}

.main.darktheme .searchMovieForm--input,
.main.darktheme .searchMovieForm--button {
    background-color: #222;
    border: none;
    color: whitesmoke;
}

.searchMovieForm--input {
    width: 75%;
    height: 100%;
    border: 1px solid #D1D5DB;
    border-radius: 6px 0 0 6px;
    padding-left: 25px;
}

.searchMovieForm--input:focus,
.searchMovieForm--input:hover,
.searchMovieForm--input:active {
    border: 1px solid #D1D5DB;
    box-shadow: 1px 0 5px #D1D5DB;
}

.searchMovieForm--button {
    width: 25%;
    height: 100%;
    border: 1px solid #D1D5DB;
    border-left: none;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}

.searchMovieForm--button:disabled {
    border: none;
    box-shadow: inset 0 0 5px 2px #D1D5DB;
    background-color: white;
    cursor: default;
}

.main.darktheme .searchMovieForm--button:disabled {
    box-shadow: inset 0 0 5px 2px rgb(95, 95, 95);
}

.searchMovieForm--button:focus,
.searchMovieForm--button:hover {
    border: 1px solid #D1D5DB;
    box-shadow: 1px 0 5px #D1D5DB;
}

.searchMovieForm--button:active {
    border: none;
    box-shadow: inset 0 0 5px 2px #D1D5DB;
}

/* MOVIES LIST LAYOUT */

.page-list {
    margin: 2rem auto 0;
    width: 90%;
    max-width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.movie-card {
    position: relative;
    width: 10rem;
    height: 15rem;
    border: 1px solid rgba(128, 128, 128, 0.173);
    padding: 10px;
    box-sizing: border-box;
}

.main.darktheme .movie-card {
    border: 1px solid rgb(95, 95, 95);
}


.movie-card-link {
    cursor: pointer;
    text-decoration: none;
    color: #222;
}

.movie-card:hover,
.movie-card:focus {
    box-shadow: 0 0 5px 2px rgba(72, 72, 72, 0.173);
}

.save-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.7rem;
    color: yellow;
    cursor: pointer;
}

.movie-card--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-card--title {
    display: none;
}

.main.darktheme .movie-card--title {
    color: lightgray;
}

/* SELECT PAGE BUTTON */

.select-page-button-wrapper {
    border-top: 2px solid #2222;
    margin: 2rem auto;
    width: 90%;
    max-width: 1024px;
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.select-page-button-wrapper span {
    cursor: default;
}

.select-page-button {
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    border-radius: 6px;
}

.select-page-button:hover,
.select-page-button:focus {
    box-shadow: 1px 0 5px #2222;
    font-weight: bold;
}

.select-page-button:active {
    box-shadow: inset 0 0 5px 2px #D1D5DB;
}

/* SINGLE MOVIE PAGE */

.single-movie-container {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.single-movie-title-wrapper {
    margin-bottom: 2rem;
    width: 100%;
}

.single-movie-title-saveIcon-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
    gap: 10px;
}

.single-movie-title-saveIcon {
    color: rgb(210, 210, 55);
    font-size: 2rem;
    cursor: pointer;
}

.single-movie-title {
    font-size: 2rem;
    margin-bottom: 0;
}

.main.darktheme .single-movie-title {
    color: whitesmoke;
}

.single-movie-raiting-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.star-icon {
    color: rgb(210, 210, 55);
}

.single-movie-raiting-wrapper span {
    font-weight: bold;
}

.main.darktheme .single-movie-raiting-wrapper span {
    color: whitesmoke;
}

.single-movie-data-wrapper {
    display: flex;
    gap: 20px;
    font-weight: bold;
    color: grey;
    padding: .5rem 0;
}

.single-movie-img {
    margin-bottom: 3rem;
}

.single-movie-info-genre,
.single-movie-other-info-name {
    font-weight: bold;
    color: grey;
    font-size: 1.2rem;
}

.single-movie-info-plot {
    font-size: 1.4rem;
    margin-top: .5rem;
    margin-bottom: 0;
    padding-bottom: 1rem;
    border-bottom: 2px solid lightgrey;
}

.main.darktheme .single-movie-info-plot {
    color: whitesmoke;
}

.single-movie-other-info-wrapper {
    padding: .5rem 0;
    border-bottom: 2px solid lightgrey;
}

.single-movie-other-info-data {
    margin-left: 1rem;
    font-size: 1.2rem;
}

.main.darktheme .single-movie-other-info-data {
    color: whitesmoke;
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    height: 100px;
    width: 100%;
    margin-top: auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    width: 90%;
    max-width: 1024px;
}

.footer a {
    color: whitesmoke;
}

/* MEDIA */


@media (min-width: 779px) {

    .header--navigation {
        max-width: 1024px;
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    .header--navigation--list {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    .movie-card {
        align-self: flex-start;
        width: 13rem;
        height: auto;
    }

    .movie-card--img {
        width: 100%;
        height: 15rem;
        object-fit: cover;
    }

    .movie-card--title {
        display: block;
    }

    .select-page-button {
        font-size: .8rem;
    }

    .single-movie-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: start;
    }

    .single-movie-info {
        max-width: 55%;
    }
}